.spinner {
    padding: 5em 0;
    text-align: center;
}

.select {
    padding-bottom: 8px;
    text-align: center;
}

.line-canvas {
    padding: 1em;
}

.radio {
    display: flex;
    justify-content: space-evenly;
}

select {
    width: 40%;
    text-align: center;
}

h1 {
    text-align: center;
}