<br>
<div class="line-canvas" #canvas>
    <select [(ngModel)]="selectedDay" (ngModelChange)="getDay()">
        <option *ngFor="let timePeriod of days" [value]="timePeriod.value">{{timePeriod.label}}</option>
    </select>
    <div *ngIf="regions; else spinner">
        <input type="radio" [(ngModel)]="yAxisValue" (ngModelChange)="resetGraph()" name="yAxisValue" value="totalCases" id="casesRadio">
        <label for="casesRadio">Cases</label>
        <br>
        <input type="radio" [(ngModel)]="yAxisValue" (ngModelChange)="resetGraph()" name="yAxisValue" value="totalDeaths" id="casesDeaths">
        <label for="casesDeaths">Deaths</label>
    </div>
</div>

<ng-template #spinner>
    <div class="spinner">
        <spinner></spinner>
    </div>
</ng-template>