div {
    display: flex;
    color: black;
    /*this is text under donut charts*/
}

.root {
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

.col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    max-width: 28%;
    color: rgb(19, 19, 134);
    padding-bottom: 0.25em;
}

.col>* {
    margin: 0;
    width: 100%;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
}

p {
    text-align: center;
}

.donut {
    display: flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
    margin-top: 0;
}