<div class="bs">


    <div class="root" *ngIf="region; else spinner">

        <div class="col">
            <pie-chart [region]="region" [partial]="region?.totalCases" [total]="region?.population"
                [color]="'#1e07b5'">
            </pie-chart>
            <p>Total Cases per Population</p>
        </div>

        <div class="col">
            <pie-chart [region]="region" [partial]="region?.totalDeaths" [total]="region?.population"
                [color]="'#f23d3a'">
            </pie-chart>
            <p>Total Deaths per Population</p>
        </div>

        <!-- <div class="col" *ngIf="region.totalVaccinations">
                <pie-chart [region]="region" [partial]="region?.totalVaccinations" [total]="region?.population"
                    [color]="'#33ff33'">
                </pie-chart>
                <p>Total Vaccinations per Population</p>
            </div> -->

        <div class="col">
            <pie-chart [region]="region" [partial]="region?.totalDeaths" [total]="region?.totalCases"
                [color]="'#d6b924'">
            </pie-chart>
            <p>Deaths per Total Cases</p>
        </div>
    </div>





    <ng-template #spinner>
        <div class="spinner">
            <spinner></spinner>
        </div>
    </ng-template>

</div>