<div class="root">
    <h2>{{county?.region | uppercase}} COVID NUMBERS</h2>

    <table *ngIf="county">
        <tr>
            <th class="county">County</th>
            <th class="state">State</th>
            <th>Population</th>
            <th>Total Cases</th>
            <th>Total Deaths</th>
        </tr>
        <tr>
            <td>{{county.region}}</td>
            <a routerLink="..">{{county.parentRegion}}</a>
            <td>{{county.population}}</td>
            <td>{{county.totalCases}}</td>
            <td>{{county.totalDeaths}}</td>
        </tr>
    </table>

    <app-line-graph [regions]="countyAsArray"
                    (timePeriodChange)="dayChange($event)"></app-line-graph>
    <pie-chart-parent [region]="county"></pie-chart-parent>

</div>