<div class="root">
    <div class="bs">
        <h1>{{ (county ? county?.region + ', ' + county?.parentRegion : "Loading") | uppercase }}</h1>

        <table *ngIf="county">
            <tr>
                <th>Population</th>
                <th>Total Cases</th>
                <th>Total Deaths</th>
            </tr>
            <tr>
                <td>{{county.population}}</td>
                <td>{{county.totalCases}}</td>
                <td>{{county.totalDeaths}}</td>
            </tr>
        </table>
        <div class="spinner"
             *ngIf="!countyAsArray">
            <spinner></spinner>
        </div>
    </div>

    <div class="bs">
        <app-line-graph [regions]="countyAsArray"
                        (timePeriodChange)="reloadData($event)"></app-line-graph>
    </div>

    <div class="bs">
        <pie-chart-parent [region]="county"></pie-chart-parent>
    </div>

</div>