<div class="bs">


  <h2>{{ stateData ? stateData.region : "Loading" | uppercase }}</h2>
  <div class="stateNums">

    <div>Population: {{stateData?.population}}</div>
    <div>Total Cases: {{ stateData?.totalCases }}</div>
    <div>Active Cases: {{ stateData?.totalActive }}</div>
    <div>Total Deaths: {{ stateData?.totalDeaths }}</div>

    <div *ngIf="stateData?.timeline?.vaccinations">
      Total Vaccination: {{stateData.totalVaccinations}}
      <br> Vaccinations In The Last {{stateData.timeline.vaccinations.length}} Days:
      {{stateData.totalVaccinations - stateData.timeline.vaccinations[0].value}}

    </div>

  </div>

</div>








<div>

  <pie-chart-parent [region]="stateData"></pie-chart-parent>

</div>

<app-table-rank [data]="counties"></app-table-rank>

<!-- <app-line-graph [regions]="counties"></app-line-graph> -->
<div>
  <p *ngIf="stateData?.region == 'South Carolina'">

    For More Information In South Carolina, Including COVID-19 Testing And Vaccination Locations, Please Visit:
    <a href="https://scdhec.gov/"> DHEC</a>

  </p>
</div>