<div class="bs">


    <h1>{{ stateData ? stateData.region : "Loading" | uppercase }}</h1>
    <div class="stateNums">

        <div class="bold" *ngIf="stateData">
            <h2>Active Cases: {{ stateData?.totalActive }}</h2>
            <h2>Total Deaths: {{ stateData?.totalDeaths }}</h2>
        </div>
    </div>

</div>

<div>

    <pie-chart-parent [region]="stateData"></pie-chart-parent>

</div>

<app-table-rank [data]="counties"></app-table-rank>

<!-- <app-line-graph [regions]="counties"></app-line-graph> -->
<div>
    <p *ngIf="stateData?.region == 'South Carolina'">

        For More Information In South Carolina, Including COVID-19 Testing And Vaccination Locations, Please Visit:
        <a href="https://scdhec.gov/"> DHEC</a>

    </p>
</div>