a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

.stateNums {
    margin-bottom: 2em;
    font-size: 1em;
    text-align: center;
}

.bold {
    display: flex;
    justify-content: space-evenly;
    font-weight: 900;
}


/* .donut {
  color: rgb(19, 19, 134);
} */

p {
    text-align: center;
}