<div class="root">
    <div class="container">

        <ul class="bs">
            <li *ngFor="let region of breadcrumb; index as i">

                <ng-container *ngIf="i != breadcrumb.length-1; then link else notLink"></ng-container>

                <ng-template #link>
                    <a [routerLink]="region.value">{{region.label}}</a>
                </ng-template>
                <ng-template #notLink>
                    {{region.label}}
                </ng-template>
            </li>
        </ul>

        <router-outlet></router-outlet>

        <div class="footer bs">
            <p>
                For More Information Visit:
                <a href="https://www.cdc.gov/"> The Centers For Disease Control</a>
            </p>
            <a href="https://www.harborec.com/jrs-coding-school">
                <img src="../../../assets/images/JRS+Coding+School+Logo.jpeg"
                     class="jrs-logo">
            </a>

            <p class="jrs">&copy;2021 <a href="https://www.harborec.com/jrs-coding-school">JRS Coding School</a></p>

            <p>Instructor: Blake Ingle</p>
            <p>Students: Will Austell, Rafael Medina-Avalos</p>
        </div>
    </div>
</div>