<div class="root">
    <div class="container">

        <ul class="breadcrumb">
            <li *ngFor="let region of breadcrumb; index as i">

                <ng-container *ngIf="i != breadcrumb.length-1; then link else notLink"></ng-container>

                <ng-template #link>
                    <a [routerLink]="region.value">{{region.label}}</a>
                </ng-template>
                <ng-template #notLink>
                    {{region.label}}
                </ng-template>
            </li>
        </ul>

        <router-outlet></router-outlet>

    </div>
</div>