<div class="bs">

    <h1>COVID NUMBERS</h1>
    <div style="overflow-x: auto;">

        <table class="table">

            <tr class="table-row">
                <th *ngFor="let header of tableHeaders" (click)="changeSortingMethod(header.value)">
                    {{header.label}}
                    <fa-icon class="icon" [icon]="sortingColumn != header.value ? faSort : (sortingOrder == 1 ? faSortUp : faSortDown)">
                    </fa-icon>
                </th>
            </tr>
        </table>

        <div class="table-scroll">
            <table *ngIf="data; else spinner">
                <tr class="table-row" *ngFor="let region of data">
                    <ng-template #regionSpan>
                        <!-- ng template is just a definition. does not render unless told to -->
                        <span><a [routerLink]="region.region">{{region.region}}</a></span>
                    </ng-template>

                    <td *ngFor="let col of tableHeaders" class="{{col.value}}">
                        <span *ngIf="col.value != 'region'; else regionSpan">{{region[col.value]}}</span>
                    </td>
                </tr>

            </table>
        </div>

    </div>



    <ng-template #spinner>
        <!-- 
            table will match styling of actual table element
            table is used here because ngIf and ngFor directives 
            cannot be placed on same element 
        -->
        <table>
            <tr>
                <td class="spinner" colspan="100%">
                    <spinner></spinner>
                </td>
            </tr>
        </table>
    </ng-template>
</div>