<div class="bs">


    <div *ngIf="data; else spinner" class="table-container">

        <h1>{{parentName + ' Ranked'}}</h1>

        <table>

            <tr class="table-row">
                <th *ngFor="let header of tableHeaders" (click)="changeSortingMethod(header.value)">
                    <div>
                        {{header.label}}
                        <fa-icon class="icon" [icon]="sortingColumn != header.value ? faSort : (sortingOrder == 1 ? faSortUp : faSortDown)">
                        </fa-icon>
                    </div>
                </th>
            </tr>
        </table>

        <div class="table-scroll">
            <table>
                <tr class="table-row" *ngFor="let region of data">

                    <td *ngFor="let col of tableHeaders" class="{{col.value}}">
                        <div *ngIf="col.value != 'region'; else regionSpan">{{region[col.value]}}</div>

                        <ng-template #regionSpan>
                            <div><a [routerLink]="region.region">{{region.region}}</a></div>
                        </ng-template>
                    </td>
                </tr>

            </table>
        </div>

    </div>

    <ng-template #spinner>
        <!-- 
            table will match styling of actual table element
            table is used here because ngIf and ngFor directives 
            cannot be placed on same element 
        -->
        <div class="spinner">
            <spinner></spinner>
        </div>
    </ng-template>
</div>